---
layout: default
---

{{ content }}

{% if page.personal_cards %}
<div class="page__content">
    <h1>Personal Projects</h1>
    <div class="cards-container">
        {% for card in page.personal_cards %}
        <div class="card">
            <a href="{{ card.url }}">
                <img src="{{ card.image }}" alt="{{ card.title }}">
                <div class="card-content">
                    <h2>{{ card.title }}</h2>
                    <p>{{ card.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<hr>
{% if page.professional_cards %}
<div class="page__content">
    <h1>Professional Projects</h1>
    <div class="cards-container">
        {% for card in page.professional_cards %}
        <div class="card">
            <a href="{{ card.url }}">
                <img src="{{ card.image }}" alt="{{ card.title }}">
                <div class="card-content">
                    <h2>{{ card.title }}</h2>
                    <p>{{ card.description }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
